<form name="subscribeForm" action="https://tinyletter.com/pulent" method="POST" class="subscribe-form"  target="popupwindow" onsubmit="window.open('https://tinyletter.com/pulent', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <div class="form-group">
    <label>
      <input type="email" name="email" placeholder="Your email address" required>
    </label>
  </div>
  <input type="hidden" name="form-name" value="subscribeForm" />
  <button class="button-blue" type="submit" value="Subscribe">Subscribe</button>
</form><!-- .subscribe-form -->
